#barBlock {
  height: 18px;
  width: 200px;
  outline: 1px solid black;
  margin: 10px;
}
#progressLine {
  height: 18px;
  width: 0%;
  background-color: aqua;
}
#label{
  text-align: center;
  width: 200px;
}
#btnProgress{
  margin: 0 10px;
}